{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/typescript",
        "@babel/preset-react",
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [".ts"],
                "root": ["."],
                "alias": {
                    "@features/*": "./features/*",
                    "@styles/*": "./styles/*"
                }
            }
        ],
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ],
        ["@babel/plugin-proposal-optional-chaining"]
    ],

    "comments": false,
    "ignore": ["./src/__tests__"]
}
